<% provide(:title, 'Notes' )%>
<% provide(:title_content, 'Here are some personal notes') %>
<div class="container bs-docs-container">
<ul class="users">
    <%= render 'shared/post_list', :posts=>@posts, :category=>0 %>    
</ul>
</div>
