<% provide(:title, 'Passages' )%>
<% provide(:title_content, 'Here are some personal passages') %>
<ul class="users">
    <% @passages.each do |passage| %> 
        <% if passage.catalog >= 100 %>
            <li>
            <p><h1><%= passage.title %></h1></p>
            <p><%= passage.content %></p>
            </li>
        <% end %>
    <% end %>
</ul>
