<div class="main_body">
    <div class="elem">
        <div class="elem_header">
            感谢我的家人！
        </div>
        <div class="elem_body">
            <p>生活似苦水，唯有家庭似天堂</p>
        </div>
    </div>
</div>
