<p>
<div class="panel panel-default">
    <% if @comments.count > 0 %>
        <% @comments.each do |c| %>
            <div class="panel-body">
                <%= c.content %>
            </div>
            <div class="panel-footer">
                <span>Author: 
                <%= c.name%>
                </span>

                &nbsp&nbsp&nbsp

                <span> 
                <%= time_ago_in_words(c.created_at) %>
                </span>Ago
            </div>
        <% end %>
    <% end %>
</div>
</p>
