<% @posts.each do |post| %> 
    <% if category == 0 %>
        <li>
        <p><%= link_to post.title,  post_path(post) %></p>
        </li>
    <% else %>
        <% if category == post.category_id %>
            <li>
            <p><%= link_to post.title,  post_path(post) %></p>
            </li>
        <% end %>
    <% end %>
<% end %>
