<footer class="bs-footer" role="contentinfo">
<div class="container">
    <small>
        And before I'd be a slave I'll be buried in a my grave And go home to my Lord and be free
        by AssassinPig 2014
    </small>
</div>
</footer>
