<div class="main_sidebar">
    <div class="sidebar_header">
        文章分类 
    </div>
    <div class="sidebar_body">
        <ul>
            <% if !@categories.nil? and @categories.count > 0 %>
                <% @categories.each do |c| %>
                    <li>
                    <a href="<%= category_path(c) %>" class="list-group-item"><%= c.name %></a>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
