<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" type="text/css" href="css/win8.css" />
<script type="text/javascript" src="scripts/jquery-2.1.0.js"></script>
<script type="text/javascript" src="scripts/layout.js"></script>
</head>
<body>
	<div class="header">
		<div class="title">
			Region8848
		</div>
		
		<div class="menu">
			<ul>
				<li><a>Home</a></li>
				<li><a>Note</a></li>
				<li><a>About</a></li>
				<li><a>Thx</a></li>
			</ul>
		</div>
	</div>

	<div class="main"> 
		<div class="main_body">
			<div class="elem">
				<div class="elem_header">
					Title1
				</div>
				<div class="elem_body">
					<p>
						Unfortunly, Another war has been broken up between China and Japan. A chinese programmer was caught by japanese and they want him to tell out what he know about chinese war plan. So Japanese promised him more money, higher title and beautiful ladies even. Otherwise he defeated. One Japanese said: "Kill him unless he give up!" Another Japanese said:"No! let him review chinese programmer's code one day and american programmer's code another day." Then, 3 days has gone and chinese programmer told to japanese:"Tell me about money and ladies."
					</p>
				</div>
				<div class="elem_footer">
					<p>发表日期</p>
					<p>浏览次数</p>
					<a>上一篇</a>|
					<a>下一篇</a>
				</div>
			</div>
		</div>

		<div class="main_sidebar">
			<div class="sidebar_header">
				Category Sidebar
			</div>
			<div class="sidebar_body">
				<ul>
					<li><a>category</a></li>
					<li><a>category</a></li>
					<li><a>category</a></li>
					<li><a>category</a></li>
					<li><a>category</a></li>
				<ul>
			</div>
		</div>
		
	</div> 

	<div class="footer">
		<div class="footer_body">
			this is a footer|201404 
		</div>
	</div>
</body>
</html>